In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [4]:
%pwd

'C:\\gitwd\\python_ex\\06_pandas'

In [7]:
first_df = pd.read_csv('data/전국_평균_분양가격(2013년_9월부터_2015년_8월까지).csv',
            encoding='cp949')

In [8]:
first_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 22 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   지역        17 non-null     object
 1   2013년12월  17 non-null     int64
 2   2014년1월   17 non-null     int64
 3   2014년2월   17 non-null     int64
 4   2014년3월   17 non-null     int64
 5   2014년4월   17 non-null     int64
 6   2014년5월   17 non-null     int64
 7   2014년6월   17 non-null     int64
 8   2014년7월   17 non-null     int64
 9   2014년8월   17 non-null     int64
 10  2014년9월   17 non-null     int64
 11  2014년10월  17 non-null     int64
 12  2014년11월  17 non-null     int64
 13  2014년12월  17 non-null     int64
 14  2015년1월   17 non-null     int64
 15  2015년2월   17 non-null     int64
 16  2015년3월   17 non-null     int64
 17  2015년4월   17 non-null     int64
 18  2015년5월   17 non-null     int64
 19  2015년6월   17 non-null     int64
 20  2015년7월   17 non-null     int64
 21  2015년8월   17 non-null     int64
dtypes: int64(21), object(1)
memory usage: 3.0+ KB

In [11]:
last_df = pd.read_csv('data/주택도시보증공사_전국_평균_분양가격(2019년_12월).csv',encoding='cp949')

In [12]:
last_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4335 entries, 0 to 4334
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   지역명      4335 non-null   object
 1   규모구분     4335 non-null   object
 2   연도       4335 non-null   int64
 3   월        4335 non-null   int64
 4   분양가격(㎡)  4058 non-null   object
dtypes: int64(2), object(3)
memory usage: 169.5+ KB

In [14]:
last_df.head(2)

  지역명        규모구분    연도   월 분양가격(㎡)
0  서울          전체  2015  10    5841
1  서울  전용면적 60㎡이하  2015  10    5652

In [16]:
last_df.tail(2)

     지역명               규모구분    연도   월 분양가격(㎡)
4333  제주  전용면적 85㎡초과 102㎡이하  2019  12     NaN
4334  제주        전용면적 102㎡초과  2019  12    3601

In [17]:
last_df.isnull().sum()

지역명          0
규모구분         0
연도           0
월            0
분양가격(㎡)    277
dtype: int64

In [18]:
True == 1

True

In [19]:
False == 0

True

In [20]:
True + True + False

2

In [21]:
first_df.isnull().sum()

지역          0
2013년12월    0
2014년1월     0
2014년2월     0
2014년3월     0
2014년4월     0
2014년5월     0
2014년6월     0
2014년7월     0
2014년8월     0
2014년9월     0
2014년10월    0
2014년11월    0
2014년12월    0
2015년1월     0
2015년2월     0
2015년3월     0
2015년4월     0
2015년5월     0
2015년6월     0
2015년7월     0
2015년8월     0
dtype: int64

In [22]:
last_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4335 entries, 0 to 4334
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   지역명      4335 non-null   object
 1   규모구분     4335 non-null   object
 2   연도       4335 non-null   int64
 3   월        4335 non-null   int64
 4   분양가격(㎡)  4058 non-null   object
dtypes: int64(2), object(3)
memory usage: 169.5+ KB

In [23]:
last_df['분양가격(㎡)'].sum()

TypeError: can only concatenate str (not "int") to str

In [25]:
last_df['분양가격(㎡)'].astype(float)

ValueError: could not convert string to float: ''

In [27]:
pd.to_numeric(last_df['분양가격(㎡)'],errors='coerce')

0       5841.0
1       5652.0
2       5882.0
3       5721.0
4       5879.0
         ...
4330    3882.0
4331       NaN
4332    3898.0
4333       NaN
4334    3601.0
Name: 분양가격(㎡), Length: 4335, dtype: float64

In [28]:
last_df['분양가격'] = pd.to_numeric(last_df['분양가격(㎡)'],errors='coerce')

In [29]:
last_df.isnull().sum()

지역명          0
규모구분         0
연도           0
월            0
분양가격(㎡)    277
분양가격       378
dtype: int64

In [30]:
last_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4335 entries, 0 to 4334
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   지역명      4335 non-null   object
 1   규모구분     4335 non-null   object
 2   연도       4335 non-null   int64
 3   월        4335 non-null   int64
 4   분양가격(㎡)  4058 non-null   object
 5   분양가격     3957 non-null   float64
dtypes: float64(1), int64(2), object(3)
memory usage: 203.3+ KB

In [33]:
type(np.NaN)

float

In [34]:
last_df['분양가격'].sum()

12813275.0

In [35]:
last_df['분양가격'].mean()

3238.128632802628

In [36]:
# 2013 ~2015 데이터 평당 분양가격, 2015~2019 ㎡당 분양가격임.

In [38]:
last_df['평당분양가격'] = last_df['분양가격'] * 3.3

In [39]:
last_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4335 entries, 0 to 4334
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   지역명      4335 non-null   object
 1   규모구분     4335 non-null   object
 2   연도       4335 non-null   int64
 3   월        4335 non-null   int64
 4   분양가격(㎡)  4058 non-null   object
 5   분양가격     3957 non-null   float64
 6   평당분양가격   3957 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 237.2+ KB

In [40]:
last_df['분양가격(㎡)'].describe()

count     4058
unique    1753
top       2221
freq        17
Name: 분양가격(㎡), dtype: object

In [41]:
last_df['분양가격'].describe()

count     3957.000000
mean      3238.128633
std       1264.309933
min       1868.000000
25%       2441.000000
50%       2874.000000
75%       3561.000000
max      12728.000000
Name: 분양가격, dtype: float64

In [42]:
last_df['분양가격(㎡)'].nunique()

1753

In [45]:
# 규모구분 
last_df['규모구분'].nunique()

5

In [46]:
last_df['규모구분'].unique()

array(['전체', '전용면적 60㎡이하', '전용면적 60㎡초과 85㎡이하', '전용면적 85㎡초과 102㎡이하',
       '전용면적 102㎡초과'], dtype=object)

In [48]:
last_df['규모구분'].replace('전용면적','')

0                      전체
1              전용면적 60㎡이하
2        전용면적 60㎡초과 85㎡이하
3       전용면적 85㎡초과 102㎡이하
4             전용면적 102㎡초과
              ...
4330                   전체
4331           전용면적 60㎡이하
4332     전용면적 60㎡초과 85㎡이하
4333    전용면적 85㎡초과 102㎡이하
4334          전용면적 102㎡초과
Name: 규모구분, Length: 4335, dtype: object

In [50]:
last_df['전용면적'] = last_df['규모구분'].str.replace('전용면적','')
last_df['전용면적'] = last_df['전용면적'].str.replace('초과','~')
last_df['전용면적'] = last_df['전용면적'].str.replace('이하','')
last_df['전용면적'] = last_df['전용면적'].str.replace(' ','').str.strip()
last_df['전용면적']

0             전체
1            60㎡
2        60㎡~85㎡
3       85㎡~102㎡
4          102㎡~
          ...
4330          전체
4331         60㎡
4332     60㎡~85㎡
4333    85㎡~102㎡
4334       102㎡~
Name: 전용면적, Length: 4335, dtype: object

In [51]:
# 필요없는 컬럼 제거('규모구분','분양가격(㎡)')

In [52]:
last_df.columns

Index(['지역명', '규모구분', '연도', '월', '분양가격(㎡)', '분양가격', '평당분양가격', '전용면적'], dtype='object')

In [53]:
last_df.info() #memory usage: 271.1+ KB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4335 entries, 0 to 4334
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   지역명      4335 non-null   object
 1   규모구분     4335 non-null   object
 2   연도       4335 non-null   int64
 3   월        4335 non-null   int64
 4   분양가격(㎡)  4058 non-null   object
 5   분양가격     3957 non-null   float64
 6   평당분양가격   3957 non-null   float64
 7   전용면적     4335 non-null   object
dtypes: float64(2), int64(2), object(4)
memory usage: 271.1+ KB

In [54]:
last_df.drop(columns=['규모구분','분양가격(㎡)'],inplace=True)

In [55]:
last_df.info() #memory usage: 203.3+ KB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4335 entries, 0 to 4334
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역명     4335 non-null   object
 1   연도      4335 non-null   int64
 2   월       4335 non-null   int64
 3   분양가격    3957 non-null   float64
 4   평당분양가격  3957 non-null   float64
 5   전용면적    4335 non-null   object
dtypes: float64(2), int64(2), object(2)
memory usage: 203.3+ KB

In [56]:
# groupby() 데이터 집계

In [57]:
last_df.groupby?

Signature:
last_df.groupby(
    by=None,
    axis: 'Axis' = 0,
    level: 'Level | None' = None,
    as_index: 'bool' = True,
    sort: 'bool' = True,
    group_keys: 'bool' = True,
    squeeze: 'bool | lib.NoDefault' = <no_default>,
    observed: 'bool' = False,
    dropna: 'bool' = True,
) -> 'DataFrameGroupBy'
Docstring:
Group DataFrame using a mapper or by a Series of columns.

A groupby operation involves some combination of splitting the
object, applying a function, and combining the results. This can be
used to group large amounts of data and compute operations on these
groups.

Parameters
----------
by : mapping, function, label, or list of labels
    Used to determine the groups for the groupby.
    If ``by`` is a function, it's called on each value of the object's
    index. If a dict or Series is passed, the Series or dict VALUES
    will be used to determine the groups (the Series' values are first
    aligned; see ``.align()`` method). If a list or ndarray of length
    equal to the selected axis is passed (see the `groupby user guide
    <https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html#splitting-an-object-into-groups>`_),
    the values are used as-is to determine the groups. A label or list
    of labels may be passed to group by the columns in ``self``.
    Notice that a tuple is interpreted as a (single) key.
axis : {0 or 'index', 1 or 'columns'}, default 0
    Split along rows (0) or columns (1).
level : int, level name, or sequence of such, default None
    If the axis is a MultiIndex (hierarchical), group by a particular
    level or levels.
as_index : bool, default True
    For aggregated output, return object with group labels as the
    index. Only relevant for DataFrame input. as_index=False is
    effectively "SQL-style" grouped output.
sort : bool, default True
    Sort group keys. Get better performance by turning this off.
    Note this does not influence the order of observations within each
    group. Groupby preserves the order of rows within each group.
group_keys : bool, default True
    When calling apply, add group keys to index to identify pieces.
squeeze : bool, default False
    Reduce the dimensionality of the return type if possible,
    otherwise return a consistent type.

    .. deprecated:: 1.1.0

observed : bool, default False
    This only applies if any of the groupers are Categoricals.
    If True: only show observed values for categorical groupers.
    If False: show all values for categorical groupers.
dropna : bool, default True
    If True, and if group keys contain NA values, NA values together
    with row/column will be dropped.
    If False, NA values will also be treated as the key in groups.

    .. versionadded:: 1.1.0

Returns
-------
DataFrameGroupBy
    Returns a groupby object that contains information about the groups.

See Also
--------
resample : Convenience method for frequency conversion and resampling
    of time series.

Notes
-----
See the `user guide
<https://pandas.pydata.org/pandas-docs/stable/groupby.html>`__ for more
detailed usage and examples, including splitting an object into groups,
iterating through groups, selecting a group, aggregation, and more.

Examples
--------
>>> df = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
...                               'Parrot', 'Parrot'],
...                    'Max Speed': [380., 370., 24., 26.]})
>>> df
   Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0
2  Parrot       24.0
3  Parrot       26.0
>>> df.groupby(['Animal']).mean()
        Max Speed
Animal
Falcon      375.0
Parrot       25.0

**Hierarchical Indexes**

We can groupby different levels of a hierarchical index
using the `level` parameter:

>>> arrays = [['Falcon', 'Falcon', 'Parrot', 'Parrot'],
...           ['Captive', 'Wild', 'Captive', 'Wild']]
>>> index = pd.MultiIndex.from_arrays(arrays, names=('Animal', 'Type'))
>>> df = pd.DataFrame({'Max Speed': [390., 350., 30., 20.]},
...                   index=index)
>>> df
                Max Speed
Animal Type
Falcon Captive      390.0
       Wild         350.0
Parrot Captive       30.0
       Wild          20.0
>>> df.groupby(level=0).mean()
        Max Speed
Animal
Falcon      370.0
Parrot       25.0
>>> df.groupby(level="Type").mean()
         Max Speed
Type
Captive      210.0
Wild         185.0

We can also choose to include NA in group keys or not by setting
`dropna` parameter, the default setting is `True`.

>>> l = [[1, 2, 3], [1, None, 4], [2, 1, 3], [1, 2, 2]]
>>> df = pd.DataFrame(l, columns=["a", "b", "c"])

>>> df.groupby(by=["b"]).sum()
    a   c
b
1.0 2   3
2.0 2   5

>>> df.groupby(by=["b"], dropna=False).sum()
    a   c
b
1.0 2   3
2.0 2   5
NaN 1   4

>>> l = [["a", 12, 12], [None, 12.3, 33.], ["b", 12.3, 123], ["a", 1, 1]]
>>> df = pd.DataFrame(l, columns=["a", "b", "c"])

>>> df.groupby(by="a").sum()
    b     c
a
a   13.0   13.0
b   12.3  123.0

>>> df.groupby(by="a", dropna=False).sum()
    b     c
a
a   13.0   13.0
b   12.3  123.0
NaN 12.3   33.0
File:      c:\users\admin\anaconda3\lib\site-packages\pandas\core\frame.py
Type:      method

In [59]:
last_df.head(2)

  지역명    연도   월    분양가격   평당분양가격 전용면적
0  서울  2015  10  5841.0  19275.3   전체
1  서울  2015  10  5652.0  18651.6  60㎡

In [60]:
last_df.groupby(['지역명'])['평당분양가격'].mean()

지역명
강원     7890.750000
경기    13356.895200
경남     9268.778138
경북     8376.536515
광주     9951.535821
대구    11980.895455
대전    10253.333333
부산    12087.121200
서울    23599.976400
세종     9796.516456
울산    10014.902013
인천    11915.320732
전남     7565.316532
전북     7724.235484
제주    11241.276712
충남     8233.651883
충북     7634.655600
Name: 평당분양가격, dtype: float64

In [63]:
last_df[last_df['전용면적']=='전체'].groupby(['지역명'])['평당분양가격'].mean()

     지역명    연도   월    분양가격   평당분양가격 전용면적
0     서울  2015  10  5841.0  19275.3   전체
5     인천  2015  10  3163.0  10437.9   전체
10    경기  2015  10  3138.0  10355.4   전체
15    부산  2015  10  3112.0  10269.6   전체
20    대구  2015  10  2682.0   8850.6   전체
...   ..   ...  ..     ...      ...  ...
4310  전북  2019  12  2468.0   8144.4   전체
4315  전남  2019  12  2452.0   8091.6   전체
4320  경북  2019  12  2914.0   9616.2   전체
4325  경남  2019  12  3063.0  10107.9   전체
4330  제주  2019  12  3882.0  12810.6   전체

[867 rows x 6 columns]

In [64]:
# 전용면적별 평당분양가격
last_df.groupby(['전용면적'])['평당분양가격'].mean()

전용면적
102㎡~       11517.705634
60㎡         10375.137421
60㎡~85㎡     10271.040071
85㎡~102㎡    11097.599573
전체          10276.086207
Name: 평당분양가격, dtype: float64

In [65]:
# 전용면적, 지역명 별 평당분양가격 평균
last_df.groupby(['전용면적','지역명'])['평당분양가격'].mean()

전용면적   지역명
102㎡~  강원      8311.380000
       경기     14771.790000
       경남     10358.363265
       경북      9157.302000
       광주     11041.532432
                  ...
전체     전남      7283.562000
       전북      7292.604000
       제주     10784.994000
       충남      7815.324000
       충북      7219.014000
Name: 평당분양가격, Length: 85, dtype: float64

In [66]:
last_df.groupby(['지역명','전용면적'])['평당분양가격'].mean()

지역명  전용면적
강원   102㎡~       8311.380000
     60㎡         7567.098000
     60㎡~85㎡     7485.588000
     85㎡~102㎡    8749.557143
     전체          7477.536000
                    ...
충북   102㎡~       8195.352000
     60㎡         7103.118000
     60㎡~85㎡     7264.488000
     85㎡~102㎡    8391.306000
     전체          7219.014000
Name: 평당분양가격, Length: 85, dtype: float64

In [67]:
last_df.groupby(['지역명','전용면적'])['평당분양가격'].mean().unstack()

전용면적         102㎡~           60㎡       60㎡~85㎡      85㎡~102㎡            전체
지역명
강원     8311.380000   7567.098000   7485.588000   8749.557143   7477.536000
경기    14771.790000  13251.744000  12523.566000  13677.774000  12559.602000
경남    10358.363265   8689.175000   8618.676000  10017.612000   8658.672000
경북     9157.302000   7883.172000   8061.372000   8773.814634   8078.532000
광주    11041.532432   9430.666667   9910.692000   9296.100000   9903.630000
대구    13087.338000  11992.068000  11778.690000  11140.642857  11771.298000
대전    14876.871429   9176.475000   9711.372000   9037.430769   9786.018000
부산    13208.250000  11353.782000  11864.820000  12072.588000  11936.166000
서울    23446.038000  23212.794000  22786.830000  25943.874000  22610.346000
세종    10106.976000   9323.927027   9775.458000   9847.926000   9805.422000
울산     9974.448000   9202.106897  10502.531707   8861.007692  10492.712195
인천    14362.030435  11241.318000  11384.406000  11527.560000  11257.026000
전남     8168.490000   7210.170000   7269.240000   7908.862500   7283.562000
전북     8193.570000   7609.932000   7271.352000   8275.781250   7292.604000
제주    10522.787234  14022.221053  10621.314000  10709.082353  10784.994000
충남     8689.169388   7911.156000   7818.954000   9120.045000   7815.324000
충북     8195.352000   7103.118000   7264.488000   8391.306000   7219.014000

In [69]:
last_df.groupby(['전용면적','지역명'])['평당분양가격'].mean().unstack().round()

지역명,강원,경기,경남,경북,광주,대구,대전,부산,서울,세종,울산,인천,전남,전북,제주,충남,충북
전용면적,,,,,,,,,,,,,,,,,
102㎡~,8311.0,14772.0,10358.0,9157.0,11042.0,13087.0,14877.0,13208.0,23446.0,10107.0,9974.0,14362.0,8168.0,8194.0,10523.0,8689.0,8195.0
60㎡,7567.0,13252.0,8689.0,7883.0,9431.0,11992.0,9176.0,11354.0,23213.0,9324.0,9202.0,11241.0,7210.0,7610.0,14022.0,7911.0,7103.0
60㎡~85㎡,7486.0,12524.0,8619.0,8061.0,9911.0,11779.0,9711.0,11865.0,22787.0,9775.0,10503.0,11384.0,7269.0,7271.0,10621.0,7819.0,7264.0
85㎡~102㎡,8750.0,13678.0,10018.0,8774.0,9296.0,11141.0,9037.0,12073.0,25944.0,9848.0,8861.0,11528.0,7909.0,8276.0,10709.0,9120.0,8391.0
전체,7478.0,12560.0,8659.0,8079.0,9904.0,11771.0,9786.0,11936.0,22610.0,9805.0,10493.0,11257.0,7284.0,7293.0,10785.0,7815.0,7219.0

In [75]:
last_df.groupby(['연도','지역명'])['평당분양가격'].mean().unstack().T  #.transpose()

연도        2015          2016          2017          2018          2019
지역명
강원    7188.060   7162.903846   7273.560000   8219.255000   8934.475000
경기   11060.940  11684.970000  12304.980000  14258.420000  15665.540000
경남    8459.220   8496.730000   8786.760000   9327.670000  10697.615789
경북    7464.160   7753.405000   8280.800000   8680.776923   9050.250000
광주    7916.700   9190.683333   9613.977551   9526.953333  12111.675000
대구    9018.900  10282.030000  12206.700000  12139.252632  14081.650000
대전    8190.600   8910.733333   9957.158491  10234.106667  12619.200000
부산   10377.400  10743.535000  11560.680000  12889.965000  13537.865000
서울   20315.680  21753.435000  21831.060000  23202.245000  28286.830000
세종    8765.020   8857.805000   9132.505556  10340.463158  11299.394118
울산    9367.600   9582.574138  10666.935714  10241.400000  10216.250000
인천   10976.020  11099.055000  11640.600000  11881.532143  13249.775000
전남    6798.880   6936.600000   7372.920000   7929.845000   8219.275862
전북    7110.400   6906.625000   7398.973585   8174.595000   8532.260000
제주    7951.075   9567.480000  12566.730000  11935.968000  11828.469231
충남    7689.880   7958.225000   8198.422222   8201.820000   8748.840000
충북    6828.800   7133.335000   7473.120000   8149.295000   7970.875000

In [76]:
# 지역별 평당분양가격의 평균
pd.pivot_table?

Signature:
pd.pivot_table(
    data: 'DataFrame',
    values=None,
    index=None,
    columns=None,
    aggfunc: 'AggFuncType' = 'mean',
    fill_value=None,
    margins: 'bool' = False,
    dropna: 'bool' = True,
    margins_name: 'str' = 'All',
    observed: 'bool' = False,
    sort: 'bool' = True,
) -> 'DataFrame'
Docstring:
Create a spreadsheet-style pivot table as a DataFrame.

The levels in the pivot table will be stored in MultiIndex objects
(hierarchical indexes) on the index and columns of the result DataFrame.

Parameters
----------
data : DataFrame
values : column to aggregate, optional
index : column, Grouper, array, or list of the previous
    If an array is passed, it must be the same length as the data. The
    list can contain any of the other types (except list).
    Keys to group by on the pivot table index.  If an array is passed,
    it is being used as the same manner as column values.
columns : column, Grouper, array, or list of the previous
    If an array is passed, it must be the same length as the data. The
    list can contain any of the other types (except list).
    Keys to group by on the pivot table column.  If an array is passed,
    it is being used as the same manner as column values.
aggfunc : function, list of functions, dict, default numpy.mean
    If list of functions passed, the resulting pivot table will have
    hierarchical columns whose top level are the function names
    (inferred from the function objects themselves)
    If dict is passed, the key is column to aggregate and value
    is function or list of functions.
fill_value : scalar, default None
    Value to replace missing values with (in the resulting pivot table,
    after aggregation).
margins : bool, default False
    Add all row / columns (e.g. for subtotal / grand totals).
dropna : bool, default True
    Do not include columns whose entries are all NaN.
margins_name : str, default 'All'
    Name of the row / column that will contain the totals
    when margins is True.
observed : bool, default False
    This only applies if any of the groupers are Categoricals.
    If True: only show observed values for categorical groupers.
    If False: show all values for categorical groupers.

    .. versionchanged:: 0.25.0

sort : bool, default True
    Specifies if the result should be sorted.

    .. versionadded:: 1.3.0

Returns
-------
DataFrame
    An Excel style pivot table.

See Also
--------
DataFrame.pivot : Pivot without aggregation that can handle
    non-numeric data.
DataFrame.melt: Unpivot a DataFrame from wide to long format,
    optionally leaving identifiers set.
wide_to_long : Wide panel to long format. Less flexible but more
    user-friendly than melt.

Notes
-----
Reference :ref:`the user guide <reshaping.pivot>` for more examples.

Examples
--------
>>> df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
...                          "bar", "bar", "bar", "bar"],
...                    "B": ["one", "one", "one", "two", "two",
...                          "one", "one", "two", "two"],
...                    "C": ["small", "large", "large", "small",
...                          "small", "large", "small", "small",
...                          "large"],
...                    "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],
...                    "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})
>>> df
     A    B      C  D  E
0  foo  one  small  1  2
1  foo  one  large  2  4
2  foo  one  large  2  5
3  foo  two  small  3  5
4  foo  two  small  3  6
5  bar  one  large  4  6
6  bar  one  small  5  8
7  bar  two  small  6  9
8  bar  two  large  7  9

This first example aggregates values by taking the sum.

>>> table = pd.pivot_table(df, values='D', index=['A', 'B'],
...                     columns=['C'], aggfunc=np.sum)
>>> table
C        large  small
A   B
bar one    4.0    5.0
    two    7.0    6.0
foo one    4.0    1.0
    two    NaN    6.0

We can also fill missing values using the `fill_value` parameter.

>>> table = pd.pivot_table(df, values='D', index=['A', 'B'],
...                     columns=['C'], aggfunc=np.sum, fill_value=0)
>>> table
C        large  small
A   B
bar one      4      5
    two      7      6
foo one      4      1
    two      0      6

The next example aggregates by taking the mean across multiple columns.

>>> table = pd.pivot_table(df, values=['D', 'E'], index=['A', 'C'],
...                     aggfunc={'D': np.mean,
...                              'E': np.mean})
>>> table
                D         E
A   C
bar large  5.500000  7.500000
    small  5.500000  8.500000
foo large  2.000000  4.500000
    small  2.333333  4.333333

We can also calculate multiple types of aggregations for any given
value column.

>>> table = pd.pivot_table(df, values=['D', 'E'], index=['A', 'C'],
...                     aggfunc={'D': np.mean,
...                              'E': [min, max, np.mean]})
>>> table
                  D   E
               mean max      mean  min
A   C
bar large  5.500000   9  7.500000    6
    small  5.500000   9  8.500000    8
foo large  2.000000   5  4.500000    4
    small  2.333333   6  4.333333    2
File:      c:\users\admin\anaconda3\lib\site-packages\pandas\core\reshape\pivot.py
Type:      function

In [79]:
last_df.pivot_table(index='지역명',values='평당분양가격',aggfunc='max')

      평당분양가격
지역명
강원   11873.4
경기   18711.0
경남   14199.9
경북   11408.1
광주   16107.3
대구   17021.4
대전   16094.1
부산   15255.9
서울   42002.4
세종   12972.3
울산   11860.2
인천   17120.4
전남   10074.9
전북   10071.6
제주   18024.6
충남   10563.3
충북    9421.5

In [82]:
# 전용면적별 평당분양가격의 평균
last_df.pivot_table(index='전용면적',values='평당분양가격')

                평당분양가격
전용면적
102㎡~     11517.705634
60㎡       10375.137421
60㎡~85㎡   10271.040071
85㎡~102㎡  11097.599573
전체        10276.086207

In [83]:
# 전용면적,지역별 평당분양가격
last_df.pivot_table(index=['전용면적','지역명'],values='평당분양가격')

                 평당분양가격
전용면적  지역명
102㎡~ 강원    8311.380000
      경기   14771.790000
      경남   10358.363265
      경북    9157.302000
      광주   11041.532432
...                 ...
전체    전남    7283.562000
      전북    7292.604000
      제주   10784.994000
      충남    7815.324000
      충북    7219.014000

[85 rows x 1 columns]

In [84]:
last_df.pivot_table(index=['전용면적'],columns=['지역명'],values='평당분양가격')

지역명,강원,경기,경남,경북,광주,대구,대전,부산,서울,세종,울산,인천,전남,전북,제주,충남,충북
전용면적,,,,,,,,,,,,,,,,,
102㎡~,8311.380000,14771.790,10358.363265,9157.302000,11041.532432,13087.338000,14876.871429,13208.250,23446.038,10106.976000,9974.448000,14362.030435,8168.4900,8193.57000,10522.787234,8689.169388,8195.352
60㎡,7567.098000,13251.744,8689.175000,7883.172000,9430.666667,11992.068000,9176.475000,11353.782,23212.794,9323.927027,9202.106897,11241.318000,7210.1700,7609.93200,14022.221053,7911.156000,7103.118
60㎡~85㎡,7485.588000,12523.566,8618.676000,8061.372000,9910.692000,11778.690000,9711.372000,11864.820,22786.830,9775.458000,10502.531707,11384.406000,7269.2400,7271.35200,10621.314000,7818.954000,7264.488
85㎡~102㎡,8749.557143,13677.774,10017.612000,8773.814634,9296.100000,11140.642857,9037.430769,12072.588,25943.874,9847.926000,8861.007692,11527.560000,7908.8625,8275.78125,10709.082353,9120.045000,8391.306
전체,7477.536000,12559.602,8658.672000,8078.532000,9903.630000,11771.298000,9786.018000,11936.166,22610.346,9805.422000,10492.712195,11257.026000,7283.5620,7292.60400,10784.994000,7815.324000,7219.014

In [86]:
# 연도, 지역별 평당분양가격
last_df.pivot_table(index=['연도','지역명'],values='평당분양가격').reset_index()

      연도 지역명        평당분양가격
0   2015  강원   7188.060000
1   2015  경기  11060.940000
2   2015  경남   8459.220000
3   2015  경북   7464.160000
4   2015  광주   7916.700000
..   ...  ..           ...
80  2019  전남   8219.275862
81  2019  전북   8532.260000
82  2019  제주  11828.469231
83  2019  충남   8748.840000
84  2019  충북   7970.875000

[85 rows x 3 columns]

In [87]:
last_df.pivot_table(index=['연도','지역명'],values='평당분양가격').reset_index().set_index('연도')

     지역명        평당분양가격
연도
2015  강원   7188.060000
2015  경기  11060.940000
2015  경남   8459.220000
2015  경북   7464.160000
2015  광주   7916.700000
...   ..           ...
2019  전남   8219.275862
2019  전북   8532.260000
2019  제주  11828.469231
2019  충남   8748.840000
2019  충북   7970.875000

[85 rows x 2 columns]